.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  width: 200px;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1 / 1; /* Mantém a proporção de 1:1 */
}
